.breadcrumb-example {
  text-align: left;
}
.breadcrumb-example li {
  float: left;
}

.breadcrumb-example a {
  color: #fff;
  background: darkcyan;
  text-decoration: none;
  position: relative;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: 15px;
  padding: 0 5px;
}
.breadcrumb-example a::before,
.breadcrumb-example a::after {
  content: "";
  position: absolute;
  border-color: darkcyan;
  border-style: solid;
  border-width: 15px 5px;
}

.breadcrumb-example a::before {
  left: -10px;
  border-left-color: transparent;
}
.breadcrumb-example a::after {
  left: 100%;
}

.breadcrumb-example a::after {
  left: 100%;
  border-color: transparent;
  border-left-color: darkcyan;
}
.breadcrumb-example a:hover {
  background-color: blue;
}
.breadcrumb-example a:hover::before {
  border-color: blue;
  border-left-color: transparent;
}
.breadcrumb-example a:hover::after {
  border-left-color: blue;
}
