.Color-Palette{
	color: #90AFC5;
	color: #336B87;
	color: #2a3132;
	color: #763626;
}

*{
	/* background: gainsboro; */

}

body{
  color: #2a3132;
  font-family: 'arvo', 'times new roman', sans-serif;
  background: #ffff;
  margin: 0px 0px;
  font-weight: 500;
  width: 100%;

}


header{
	/* position: sticky; */
	color: #2a3132;
	background-color: #90AFC5;
	z-index: 10;
	padding: 10px;
	margin:	0px;
	border-style: solid;
	border-color: #2a313283;
	border-width: 5px;
}
header h1{
	font-size: 50px;
	margin: auto 0px;
}

.nav{
	/* float: left;
	display: inline-block;
	margin: 10px auto; */
}


header a{
	display: inline-block;
  	text-align: center;
  	text-decoration: !important;
	font-size: 15px;
	/* height: 30;
	width: 100; */
	padding: 10px;
	margin:10px;
	border-radius: 40px;
}
header a:hover {
  background-color: #ddd;
  color: black;
  border-style: solid;
  border-color: red;
}
.coming-soon{
	color: red;
	background-color: transparent;
	font-size: 75%;
}

content{
	height: 40px;
	width: 100%;
	display: inline-block;
}


table{
	border-style: solid;
	border-color:  #90AFC5;
	width: 90%;
	padding: 10px;
	margin: 10px;
}
tr{
	border-style: dotted;
	border-color:  #90AFC5;
	border-width: thin;

}

.topic{
	display: block;
	padding: 10px;
	margin: 10px;
}

.topic a{
	color: #2a3132;
}

thead td{
	border-bottom-style: solid;
	border-color:  #90AFC5;
	font-weight: 800;;

}
.topic-name{
	/* background-color: #336B87; */
	width: auto;
	padding: 5px;
	margin: 1px;
}


#additional-resources-content{
}

#additional-resources ul{
	margin: 20px;
	padding: 10px;
	/* float: left; */
	display: inline-block;
}

#additional-resources img{
	display: inline-block;
	height: 200px;
	width: 200px;
	margin: 20px;
	/* float: left; */
	border-style: solid;
	border-color: #2a3132;
}

code{
	font-family: monospace;
	background-color: aliceblue;
	color: #763626;
	font-weight: 500;
}

/* h3{
	background-color: cadetblue;
	width: auto;
	margin-right: 10px;
} */

#hidden{
	visibility: hidden;
}

footer{
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
}
