/* justify content section [horizontal] */

body {
  border: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  text-align: center;
  display: block;
  font-size: 18px;
}

.container {
  height: 150px;
  width: 100%;
  display: flex;
  background-color: whitesmoke;
}

.box {
  height: 75px;
  width: 100px;
  background-color: dodgerblue;
  border: 1px solid lightgrey;
  display: inline-block;
}

#flexstart {
  justify-content: flex-start;
}

#flexend {
  justify-content: flex-end;

}

#center {
  justify-content: center;

}

#spacearound {
  justify-content: space-around;

}

#spacebetween {
  justify-content: space-between;

}

/* Align-Items Part [vertical] */

body {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  margin: 20px;
  text-align: center;
  font-size: 18px;
}

.container {
  height: 150px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

.left,
.center,
.right {
  min-height: 75px;
  width: 125px;
  background-color: dodgerblue;
  border: 2px solid lightgrey;
}

#baseline .center {
  height: 100px;
  width: 100px;
  border: 5px solid turquoise;
}

#flexstart {
  align-items: flex-start;
}

#flexend {
  align-items: flex-end;

}

#center {
  align-items: center;

}

#baseline {
  align-items: baseline;

}

/* Flex Grow [grow relative to browser] */

body {
  margin: 0;
  border: 0;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h1,
h2 {
  text-align: center;
}

.top,
.middle,
.bottom {
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
  border: 2px solid lightgrey;
  margin: 10px 30px;
  flex-grow: 1;
}

.top.side {
  flex-grow: 1;

}

.top.center {
  flex-grow: 1;

}

.middle.side {

}

.middle.center {
  flex-grow: 1;

}

.bottom.side {
  flex-grow: 1;

}

.bottom.center {
    flex-grow: 2;

}

#top,
#middle,
#bottom {
  display: flex;
  background-color: Whitesmoke;
  justify-content: center;
  min-height: 200px;
  align-items: center;
}

/* flex shring [shrink relative to window */
body {
  margin: 0;
  border: 0;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h1,
h2 {
  text-align: center;
}

.top,
.middle,
.bottom {
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
  border: 2px solid lightgrey;
  margin: 10px 30px;
}

.top.side {
flex-shrink: 2;
}

.top.center {

}

.middle.side {
flex-shrink: 0;

}

.middle.center {

}

.bottom.side {

}

.bottom.center {
  flex-shrink: 2;

}

#top,
#middle,
#bottom {
  display: flex;
  background-color: whitesmoke;
  justify-content: center;
  min-height: 200px;
  align-items: center;
}

/* flex basis */

body {
  margin: 0;
  border: 0;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  text-align: center;
  font-size: 18px;
}

h2 {
  text-align: center;
  font-size: 16px;
}

.grow,
.shrink {
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
  border: 2px solid lightgrey;
  margin: 10px 30px;
}

.grow.side {
flex-basis: 60px;
flex-grow: 1;
}

.grow.center {
flex-grow: 3;

}

.shrink.side {
flex-basis: 300px;
flex-shrink: 3;

}

.shrink.center {
flex-shrink: 2;
flex-basis: 150px;

}

#grows,
#shrinks {
  display: flex;
  background-color: whitesmoke;
  justify-content: center;
  min-height: 200px;
  align-items: center;
}

/* flex property */
body {
  border: 0;
  margin: 0 15px;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  text-align: center;
  display: block;
  font-size: 18px;
}

.container {
  height: 150px;
  width: 100%;
  display: flex;
  background-color: whitesmoke;
}

.side,
.center {
  height: 75px;
  background-color: dodgerblue;
  border: 1px solid lightgrey;
  display: inline-block;
}

#top .side {
  flex: 2 2 100px;
}

#top .center {
  flex: 1 3 50px;
}

#bottom .side {
  flex: 1 2 75px;
}

#bottom .center {
  flex: 2 1 100px;
}

/* flex-wrap */
body {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-size: 18px;
}

h1,
h3 {
  text-align: center;
}

.container {
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  min-height: 125px;

}

.box {
  background-color: whitesmoke;
  border: 1px solid white;
  width: 100px;
  height: 100px;
}

#wrap {
flex-wrap: wrap;
}

#nowrap {
flex-wrap: nowrap;
}

#reverse {
flex-wrap: wrap-reverse;
}

/* Align Content */
body {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  margin: 20px;
  text-align: center;
  font-size: 18px;
}

.container {
  height: 300px;
  width: 600px;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.left,
.center,
.right {
  height: 75px;
  width: 200px;
  margin: 2px;
  background-color: dodgerblue;
  border: 2px solid lightgrey;
}

#flexstart {
align-content: flex-start;
}

#flexend {
align-content: flex-end;

}

#center {
align-content: center;

}

#between {
align-content: space-between;

}

#around {
align-content: space-around;

}
/* flex direction */
body {
  margin: 0;
  border: 0;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 14px;
}

h1,
h2 {
  text-align: center;
}

.container {
  background-color: dodgerblue;
  display: flex;
  max-height: 600px;
  align-items: center;
  justify-content: space-around;
}

.box {
  background-color: whitesmoke;
  border: 1px solid white;
  width: 100px;
  height: 100px;
  flex-grow: 1;
}

#row {
flex-direction: row;
}

#row-reverse {
flex-direction: row-reverse;
}

#column {
flex-direction: column;

}

#column-reverse {
flex-direction: column-reverse;

}
/* Nested Flexboxes */
body {
  font-family: 'Roboto Mono', monospace;
}

h2 {
  text-align: center;
  font-size: 18px;
}

.main {
  background-color: lightgrey;
  width: 400px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container {
  width: 300px;
  height: 300px;
  background-color: dodgerblue;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.child {
  height: 75px;
  width: 75px;
  background-color: whitesmoke;
  border: 1px solid snow;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
